<% include partials/header %>

<nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="/home" id="companyName" style="color: #E7F3FF; font-family: 'Raleway', sans-serif;">
      <b><i class="fa fa-heartbeat" style="padding-right: 7px;" aria-hidden="true"></i> Health and Medicine</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-navicon" style="font-size: 30px"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 5%">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/cart" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bill" style="color: #E7F3FF; padding-right: 20px; font-family: 'Raleway', sans-serif; font-size: 18px;", sans-serif">Bill</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; padding-right: 20px; font-size: 18px">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile" style="color: #E7F3FF; padding-right: 20px; font-size: 18px; font-family: 'Raleway', sans-serif;">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">Hospitals Near Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/record" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">Health Record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="color: #E7F3FF; padding-right: 10px; font-size: 18px; font-family: 'Raleway', sans-serif; padding-right: 20px;">Logout</a>
            </li>
      </ul>
    </div>
</nav>
<div class="recordcontainer">
    <h1 id="recordhead"><i class="fa fa-bell" aria-hidden="true" style="padding-right: 10px;"></i>A Healthy Reminder</h1>        
    <form  style=' padding-left: 100px;' method="POST" action="/record/medicationReminder">
        <label for="date"><i class="fa fa-calendar" aria-hidden="true" style="padding-right: 5px;"></i> Start date</label>
        <input type="date" id="date" name="date"/>
        <br>
        <label for="treatment"><i class="fa fa-medkit" aria-hidden="true" style="padding-right: 5px;"></i>Medication Details</label>
        <input type="text" id="treatment" name="medication" placeholder="Paracetamol etc."/>
        <br>
        <label for="date"> <i class="fa fa-bell-o" aria-hidden="true" style="padding-right: 5px;"></i>Reminder Frequency</label>
        <select name="Frequency">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>
        <select name="Frequency2">
            <option value="day">day</option>
            <option value="week">week</option>
            <option value="month">month</option>
        
        </select>
        <label for="note"> <i class="fa fa-comments-o" aria-hidden="true" style="padding-right: 5px;"></i>Short Note :</label>
        <textarea id="note" name="note" style="padding: 5px;"type="text" id="note" placeholder="Is there something you want to share?"></textarea>
        <br>
        <input type="submit" value="Save" class='btn btn-primary'/>
    </form>
</div>

<% include partials/footer %>