<% include partials/header %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #E7F3FF; padding:100px">
    <div class ="doctorVisit">
        <h1><a href="record/doctorvisit">+ Record upcoming doctor visit</a></h1>
        <h2><a href="record/doctorvisitcheck">check all doctor visit</a></h2>
    
    </div>
    <div class ="record">
        <h1><a href="record/attackrecord">+ Record</a></h1>
        <h2><a href="record/attackrecordcheck">check records</a></h2>
    
    </div>
    <div class ="medicationReminder">
        <h1><a href="record/medicationReminder">Medication Reminder</a></h1>
        <h2><a href="record/medicationRemindercheck">check all the medication which you have set</a></h2>
    </div>
    
</body>
</html>


<% include partials/footer %>

    
    
   

